<div class="container header-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8 header-left">
      <h1>{{ site.name | escape }}</h1>
      {%- comment -%}
        site.title is intentionally not rendered here. It still supplies the
        <title> tag and the search snippet in _includes/head.html, but it is not
        wanted as a visible subheading.
      {%- endcomment -%}
      {%- if site.affiliation -%}
        <p class="header-affiliation">{{ site.affiliation | escape }}</p>
      {%- endif -%}

      <ul class="no-print header-touch-icons">
        <li>
          <a class="touch-btn" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a class="touch-btn" href="https://twitter.com/{{ site.twitter_username }}" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a class="touch-btn" href="https://scholar.google.com/citations?user={{ site.googlescholar_username }}" target="_blank" aria-label="Google Scholar">
            <i class="fas fa-graduation-cap"></i>
          </a>
        </li>
        <li>
          <a class="touch-btn" href="https://eshanmehra.substack.com/" target="_blank" aria-label="Substack">
            <i class="fas fa-pencil-alt"></i>
          </a>
        </li>
        <li>
          <a class="touch-btn" href="https://github.com/{{ site.github_username }}" target="_blank" aria-label="GitHub">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li>
          <a class="touch-btn" href="mailto:emehra@broadinstitute.org" aria-label="Email">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 header-right">
      <!-- leave this empty or keep contact text if you ever use it -->
    </div>
  </div>
</div>
