.dark {
  background-color: #000000;
  color: #ffffffd3;
}

.dark {
  mark {
    color: #000000;
    background-color: #ffffffd3;
  }

  a {
    color: #477dca;
  }
}

body.dark h3 {
  border-bottom-color: rgba(255, 255, 255, 0.883);
}