.dark {
  background-color: #222;
  color: #e6e6e6;
}

.dark {
  mark {
    color: #222;
    background-color: #e6e6e6;
  }

  a {
    color: #477dca;
  }
}

body.dark h3 {
  border-bottom-color: rgba(255, 255, 255, 0.3);
}